In [2]:
pip install numpy pandas seaborn sklearn

Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (1.18.2)
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (1.0.3)
Requirement already satisfied: seaborn in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (0.10.0)
Requirement already satisfied: sklearn in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (0.0)
Requirement already satisfied: pytz>=2017.2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: scipy>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from seaborn) (1.4.1)
Requirement already satisfied: matplotlib>=2.1.2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from seaborn) (3.2.1)
Requirement already satisfied: scikit-learn in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from sklearn) (0.22.2.post1)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from matplotlib>=2.1.2->seaborn) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from matplotlib>=2.1.2->seaborn) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from matplotlib>=2.1.2->seaborn) (1.2.0)
Requirement already satisfied: joblib>=0.11 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from scikit-learn->sklearn) (0.14.1)
Note: you may need to restart the kernel to use updated packages.

In [140]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [24]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
import random
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.linear_model import LinearRegression

In [141]:
tr = pd.read_csv("trnt.csv")

In [96]:
tr

,Unnamed: 0,ID,VAR_0002,VAR_0003,VAR_0004,VAR_0532,VAR_0533,VAR_0534,VAR_0535,VAR_0536,...,VAR_1926,VAR_1927,VAR_1928,VAR_1929,VAR_1930,VAR_1931,VAR_1932,VAR_1933,target,y
0,1,2,224,0,4300,5,0,0,5,3,...,98,98,998,999999998,998,998,9998,9998,0,0
1,2,4,7,53,4448,0,0,0,3,12,...,98,98,998,999999998,998,998,9998,9998,0,0
2,3,5,116,3,3464,0,0,0,1,2,...,98,98,998,999999998,998,998,9998,9998,0,0
3,4,7,240,300,3200,0,0,0,1,6,...,98,98,998,999999998,998,998,9998,9998,0,0
4,5,8,72,261,2000,0,0,0,1,8,...,98,98,998,999999998,998,998,9998,9998,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145226,145227,290457,276,144,3000,0,0,0,2,3,...,98,98,998,999999998,998,998,9998,9998,0,0
145227,145228,290458,39,414,2821,0,0,0,0,4,...,98,98,998,999999998,998,998,9998,9998,0,0
145228,145229,290459,103,31,2604,0,0,0,0,1,...,98,98,998,999999998,998,998,9998,9998,0,0
145229,145230,290461,78,12,4325,3,0,0,2,7,...,98,98,998,999999998,998,998,9998,9998,1,1
145230,145231,290463,228,120,18500,0,0,0,4,6,...,98,98,998,999999998,998,998,9998,9998,0,0

In [137]:
trf = pd.read_csv("trf.csv")

In [138]:
trf

,Unnamed: 0,VAR_1673,VAR_1677,VAR_1008,VAR_1000,VAR_0989,VAR_1688,VAR_1693,VAR_1675,VAR_1603,VAR_1604,target
0,1,97,97,16,4,20,999999997,999999997,97,97,97,0
1,2,0,0,9,12,21,0,0,0,0,0,0
2,3,0,0,12,4,16,0,0,0,0,0,0
3,4,98,98,45,7,57,999999998,999999998,98,98,98,0
4,5,98,98,7,10,18,999999998,999999998,98,98,98,1
...,...,...,...,...,...,...,...,...,...,...,...,...
145226,145227,0,0,20,6,29,0,0,0,0,0,0
145227,145228,98,98,21,5,28,999999998,999999998,98,98,98,0
145228,145229,98,98,4,2,6,999999998,999999998,98,98,98,0
145229,145230,0,0,13,8,21,0,0,0,0,0,1
145230,145231,0,0,20,10,36,0,0,0,0,0,0

In [153]:
df = trf.iloc[:,1:-1]

In [98]:
te = pd.read_csv("te.csv")

In [99]:
te

,Unnamed: 0,ID,VAR_0002,VAR_0003,VAR_0004,VAR_0532,VAR_0533,VAR_0534,VAR_0535,VAR_0536,...,VAR_1924,VAR_1925,VAR_1926,VAR_1927,VAR_1928,VAR_1929,VAR_1930,VAR_1931,VAR_1932,VAR_1933
0,1,1,360,25,2251,0,0,0,0,6,...,9998,0,98,98,998,999999998,998,998,9998,9998
1,2,3,74,192,3274,0,0,0,2,7,...,9998,0,98,98,998,999999998,998,998,9998,9998
2,3,6,21,36,3500,0,0,0,0,4,...,9998,0,98,98,998,999999998,998,998,9998,9998
3,4,9,8,2,1500,0,0,0,1,4,...,381,0,98,98,998,999999998,998,998,9998,9998
4,5,10,91,39,84500,0,0,1,0,4,...,9998,0,98,98,998,999999998,998,998,9998,9998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145227,145228,290451,84,0,4717,0,0,0,1,4,...,9998,0,98,98,998,999999998,998,998,9998,9998
145228,145229,290455,29,15,1350,0,0,0,0,1,...,9998,0,98,98,998,999999998,998,998,9998,9998
145229,145230,290456,194,360,2481,0,0,0,1,5,...,9998,0,98,98,998,999999998,998,998,9998,9998
145230,145231,290460,33,40,4695,0,0,0,3,14,...,9998,0,98,98,998,999999998,998,998,9998,9998
145231,145232,290462,301,0,4600,0,1,0,1,6,...,9998,0,98,98,998,999999998,998,998,9998,9998

In [100]:
random.seed(123)

In [103]:
trfv = trf.values

In [104]:
features = trfv[:,0:-1]

In [106]:
target = trf.loc[:,"target"]

In [107]:
x_train, x_test, y_train, y_test = train_test_split(features, target, test_size=0.2)

In [108]:
dt = DecisionTreeClassifier()
dt.fit(x_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [109]:
rf = RandomForestClassifier(n_estimators = 10)
rf.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [110]:
knn = KNeighborsClassifier(n_neighbors=2)
knn.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=2, p=2,
                     weights='uniform')

In [111]:
dt_score = accuracy_score(y_test, dt.predict(x_test))
rf_score = accuracy_score(y_test, rf.predict(x_test))
knn_score = accuracy_score(y_test, knn.predict(x_test))

In [112]:
print("decision tree score: ", dt_score)
print("randomforest score: ", rf_score)
print("knn score: ", knn_score)

decision tree score:  0.6492925259062898
randomforest score:  0.7099528350604193
knn score:  0.7375976865080731

In [113]:
x = tr.iloc[:,0:1403]
y = tr.loc[:,"target"]

In [157]:
pca = PCA(n_components=9)
pca.fit(x)
pcax = pca.fit_transform(x)
print(pca.explained_variance_ratio_)

[0.26950444 0.21058796 0.13543951 0.06387952 0.04518156 0.03690844
 0.01951823 0.01898135 0.01327205]

In [116]:
x_train, x_test, y_train, y_test = train_test_split(pcax, y, test_size=0.2)

In [117]:
dt = DecisionTreeClassifier(random_state= 123)
dt.fit(x_train, y_train)
rf = RandomForestClassifier(n_estimators = 10)
rf.fit(x_train, y_train)
knn = KNeighborsClassifier(n_neighbors=2)
knn.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=2, p=2,
                     weights='uniform')

In [118]:
dt_score2 = accuracy_score(y_test, dt.predict(x_test))
rf_score2 = accuracy_score(y_test, rf.predict(x_test))
knn_score2 = accuracy_score(y_test, knn.predict(x_test))

In [119]:
print("decision tree score: ", dt_score2)
print("randomforest score: ", rf_score2)
print("knn score: ", knn_score2)

decision tree score:  0.665851895204324
randomforest score:  0.7388026302199883
knn score:  0.7508864943023376

In [120]:
tev = te.values

In [121]:
tev

array([[     1,      1,    360, ...,    998,   9998,   9998],
       [     2,      3,     74, ...,    998,   9998,   9998],
       [     3,      6,     21, ...,    998,   9998,   9998],
       ...,
       [145230, 290456,    194, ...,    998,   9998,   9998],
       [145231, 290460,     33, ...,    998,   9998,   9998],
       [145232, 290462,    301, ...,    998,   9998,   9998]])

In [122]:
pcat = pca.fit_transform(tev)

In [123]:
t = knn.predict(pcat)

In [124]:
te["target"] = t

In [ ]:
def generate_submission (df, target, filename):
  n = pd.DataFrame()
  n["ID"] = df["ID"]
  n["target"] = df[target]
  n.to_csv(filename)
  return n

generate_submission(te, 'target', 'submit.csv')